/**********Color Scheme
#00427a - dark blue
#71c5ef - sky blue
#0066b3 - royal blue
#0095da - light blue
**********/



body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  font-size: 1.25rem;
  padding: 0 5%;
}

h1 {
  color: #00427a;
  font-family: 'Handlee', cursive;
  font-size: 2.5rem;
  line-height: 3rem;
  display: inline;
}

h2 {
  color: #00427a;
  font-family: 'Handlee', cursive;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  padding: 0.625rem 5%;
}

h3 {
  color: #00427a;
  font-family: 'Handlee', cursive;
  font-size: 1.25rem;
  line-height: 1.375rem;
  padding: 0.625rem 5%;
}

h4 {
  color: #00427a;
  font-family: 'Handlee', cursive;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  padding: 0.625rem 5%;
}

.date-text {
  font-size: 0.875rem;
  color: #0066b3;
  line-height: 1rem;
  float: left;
}

.location-text {
  font-size: 0.875rem;
  color: #0066b3;
  line-height: 1rem;
  float: right;

}

p {
  font-size: 0.875rem;
  line-height: 1rem;
}

a {
  color: #00427a;
  font-weight: bold;
  text-decoration: none;
  margin-top: 0.625rem;
  display: block;
}

.welcome-message {
  font-size: 1.25rem;
  color: #00427a;
  line-height: 1.75rem;
}

#skills-h3 {
  color: #00427a;
  display: none;
}

.blue {
  background-color: #00427a;
}

.blue-text {
  color: #00427a;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.sky-blue {
  background-color: #71c5ef;
  padding-bottom: 0.625rem;
  clear:both;
}

/*.light-gray {
  background-color: #444;
}*/

/* TODO: Replace with image later */
#header {
  background-color: #0095da;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.625rem;
}

.flex-item:hover {
  font-family: 'Handlee', cursive;
  font-size: 1.25rem;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

li {
  font-size: 1rem;
  line-height: 1.5rem;
}

.biopic {
  float: left;
  padding: 0.875rem;
  margin-right: 1rem;
  max-width: 200px;
  display: none;
}

img {
  padding: 0.875rem;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
